.logo-name {
  font-family: Parisienne;
  font-size: 2.8em;
}
.nav-link {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
color: black;
}


.row {
  width: 100%;
}

.nav-link{
  color: black;
}
.nav-link:hover{
  color: deepskyblue;
}
.hero-sec-bg-img {
 
  background: linear-gradient(rgba(0, 0, 0, .151), rgba(0, 0, 0, .727)), url("photo-1567852701065-b2991a38e34c.avif");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
margin-top: 70px;
}
.display-3{
    font-family: Parisienne;
}
.display{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    font-size: 3.5rem;
}
.font{
    font-family: Parienne;
    font-size: 3rem;
}
@media all and (max-width: 810px){
  .display{
    font-size:2rem;
  }
  .font{
    font-size: 2rem;
    text-wrap: wrap;
  }
}
@media all and (max-width: 450px){
  .display{
    font-size:1rem;
  }
  .font{
    font-size: 1.4rem;
    text-wrap: wrap;
  }
  .font-footer{
    font-size: 13px;
  }
}
.footer-container{
  background-color: #212529;

}