.logo-name {
  font-family: Parisienne;
  font-size: 2.8em;
}
.nav-link {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
color: black;
}


.row {
  width: 100%;
}

.nav-link{
  color: black;
}
.nav-link:hover{
  color: deepskyblue;
}
.hero-sec-bg-img {
 
  background: linear-gradient(rgba(0, 0, 0, .151), rgba(0, 0, 0, .727)), url("photo-1567852701065-b2991a38e34c.avif");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
margin-top: 70px;
}
.display-3{
    font-family: Parisienne;
}
.display{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    font-size: 4rem;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.footer-container{
  background-color: #212529;
  height: 25rem;
}