.logo-name {
  font-family: Parisienne;
  font-size: 2.8em;
}
.row{
  width: 100%;
}
.nav-link {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: deepskyblue;
}
.hero-sec-bg-img {
  background: linear-gradient(rgba(0, 0, 0, .151), rgba(0, 0, 0, .727)),    url("photo-1733824204474-e1b329a33612.avif");

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
}
.font{
  font-family: Parisienne;
  
}
.display{
font-style: italic;
    word-spacing: 3px;
    font-size: 3.8rem;
}
@media all and (max-width: 810px){
  .display{
    font-size:2rem;
  }
  .font{
    font-size: 2rem;
    text-wrap: wrap;
  }
}
@media all and (max-width: 450px){
  .display{
    font-size:1.4rem;
  }
  .font{
    font-size: 1.4rem;
    text-wrap: wrap;
  }
  .font-footer{ 
    font-size: 11px;
  }
 
}
.cards-course-img{

  height: 12rem;
}
 .card-img-top{
  object-fit: cover;
  /* width: 100%; */
  height: 200px;
 }
 .card{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
 }
 .card:hover{
transform: scale(1.01);
 }
.footer-container{
  background-color: #212529;
  /* height: 22rem; */
}
.font-footer1{
  font-size: 13px;
}